*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: antiquewhite;
  color: white;
}
header{
  background-color: rgba(2, 155, 22, 0.767);
  box-shadow: 2px 2px black;
}
header > h1{
  text-align: center;
  font-style: italic;
  padding-top: 10px;
}

header > a{
  padding: 20px;
  text-decoration: none;
  color: rgb(245, 173, 245);
}

header > a:hover{
  color: green;
  font-size: large;
}

main{
  margin-top: 40px;
  text-align: center;
}

main > button{
  margin-top: 10px;
  color: purple;
}