@charset "UTF-8";

/* 
  em HTML é id = em CSS é # ( Só pode 1 elemento)
  em HTML é class = em css é . (Pode varios elementos)
*/

body{
  background-color: rgb(141, 207, 141);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: green;
}

h1#principal{
  text-align: center;
  background-color: rgb(141, 207, 141);
  color: white;
}

h2{
  color: rgb(119, 119, 40);
}

.basico{
  color: green;
}

.intermediario{
  color: yellow;
}

.avancado{
  color: red;
}

.destaque{
  background-color: #acac3991;
}