@charset "UTF-8";

*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-image: linear-gradient(to right, pink), lightpink  ;
}

main{
  background-image: white;
  border-radius: 10px;
  box-shadow: 5px 5x 16px rgba(133, 85, 70, 0.651);
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1{
  color: orange;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(219, 143, 3, 0.637);
}

h2{
  color: rgb(134, 89, 5);
}

p {
  text-align: justify;
}